@viewport {
	width: device-width;
}

@-ms-viewport {
	width: device-width;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	line-height: 2.4rem;
}

