.nav {
	display: block;
	position: relative;
	bottom: auto;
	overflow: visible;
}

.nav li {
	position: relative;
	white-space: nowrap;
}

.nav > ul > li {
	display: inline-block;
}

.nav ul {
	display: block;
}

.nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 901;
}

.nav ul ul ul {
	top: 5px;
	left: 95%;
	z-index: 902;
}

.nav ul ul ul ul {
	z-index: 903;
}

.nav ul ul ul ul ul {
	z-index: 904;
}

.nav ul ul li.nav-left > ul {
	left: auto;
	right: 95%;
}

.nav-no-js .nav li:hover > ul {
	display: block;
}

body {
	padding: 0 !important;
}

header {
	position: relative;
}

header h1:before {
	content: icon-char(desktop);
}

.nav-button {
	display: none;
}

.nav {
	padding: 0 !important;
}

.nav > ul > li {
	border-top: none;
}

.nav li > ul {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.nav ul ul ul {
	border-radius: 0 6px 6px 6px;
}

.nav ul ul ul li:first-child {
	border-top: none;
}

.nav .nav-left > ul {
	border-radius: 6px 0 6px 6px;
}

.nav .nav-submenu li {
	min-width: 110px;
}

.nav .nav-submenu > ul {
	margin: 0;
}

.nav > ul > .nav-submenu > a:after {
	content: icon-char(submenu-down);
}

.nav .nav-submenu > a:after {
	content: icon-char(submenu-right);
}

