.about-job__skills {
  margin-top: 22px;
}

.about-skills__item {
  padding: 16px 18px 24px 19px;
  background: white;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  margin-bottom: 30px;
  height: 165px;
}

.about-main__specialty .about__title span {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #313131;
}

.about-specialty__job {
}

.about-job__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 12px;
}

.about-job__icon {
  background: #edf4ff;
  max-width: 37px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 37px;
  flex: 0 0 37px;
  height: 37px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 12px;
}

.about-job__icon img{    
    height: 20px;
}

.about-job__icon i {
  color: #303f9f;
  font-size: 20px;
}

.about-job__name span {
  font-size: 18px;
  line-height: 25px;
  color: #303f9f;
  font-weight: 400;
}

.gray__title span {
  font-size: 15px;
  line-height: 21px;
  /* identical to box height */
  font-weight: 400;

  color: #abacbb;
}

.about__count span {
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  color: #3a3b3e;
}

.about-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 6px;
}

.about-item__top i {
  color: #f38649;
  font-size: 18px;
}

.about-item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 24px;
}

.about-item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.about-item__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about-item__loader {
  width: 5px;
  height: 35px;
  background: #d1d4e3;
  border-radius: 20px;
  position: relative;
  margin-right: 12px;
}

.loader {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #303f9f;
  border-radius: 20px;
  height: 60%;
  width: 100%;
}

.about-item__top.orange span {
  color: #f38649;
  text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
        height: 20px;
    overflow: hidden;
}

.about-skills__item.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*height: 100%;*/
  cursor: pointer;
  width: 100%;
  outline: none;
}

.about-skills__item.add > span {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #abacbb;
}

.about-skills__item.add .plus {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background: #d1d4e3;
  margin-bottom: 8px;
}

.about-skills__item.add .plus span {
  color: white;
  font-size: 35px;
  line-height: 35px;
  margin-top: 1px;
}
.services-form{
    
}
.card-icon {
    padding-right: 20px;
}
.services-form .card {
    margin-bottom: 10px;border: 1px solid rgba(34,41,47,.125);
}
.services-form .card-header{
    background: none;    align-items: center;
    -webkit-box-pack: unset;
    -webkit-justify-content: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    padding: 15px;
}
.services-form .card-header label{
        font-size: 16px;cursor: pointer;
}
.card-icon img{
    height: 20px;
}
.category-model-list .form-check{
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    height: calc(1.5em + .75rem + 2px);
}
#specialty_form .preload, .spec_modal .preload{
    display: none;text-align: center;
}
#specialty_form .show .preload, .spec_modal .show .preload{
    display: block;
}
#specialty_form .modal-footer, .spec_modal .modal-footer{
        position: fixed;
    bottom: 0;
    right: 35%;
    left: 35%;
    border: 0;    
    justify-content: center;
}
.spec-modal .form-check{
    width: 100%;
}
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #000;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.s_edit {
    display: block;
    color: #303f9f;
}
.s_edit .icon-pencil:before{
    color: #000;
}
.s_edit i{
    font-size: 12px;
}
.s_delete i:before{
    color: red !important;
}
.spec-modal .form-check{
    width: 100%;
}
.about-job__name {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.about-action{
    display: flex;
    width: 100%;
    justify-content: space-between;
        align-items: center;
    margin-top: 20px;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #303f9f;
    background-color: #303f9f;
}
.list-edit .category-price{
    display: flex;
    align-items:center;    
}
.list-edit .custom-switch{
    margin-left:10px;
}
.c_delete {
    margin-left: 15px;
    font-size: 18px;
    color: red;
}
label.form-check-label {
    font-size: 16px;
}
.hidden{
    visibility: unset;
}